# Ignore node_modules
node_modules
# Ignore build output
build
*.log
# Ignore test-epub
src/test-epub
backend/.env.dev
backend/.env.prod
localStorage
# Ignore uploads
uploads

localCommands

nginx-dev
nginx-dev/certs